{% extends 'blog/dashboard/index.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid content-inner pb-0" id="page_layout">
        <div>
            <h4 class="mb-0">Category</h4>
        </div>
        <div>
            <ul class="nav iq-nav-category mt-3 mb-3 justify-content-start bg-transparent" id="pills-tab"
                role="tablist">
                <li class="nav-item me-3" role="presentation">
                    <a class="nav-link active" id="pills-no-1-tab" data-bs-toggle="pill" href="#"
                       data-bs-target="#pills-no-1" role="tab" aria-controls="pills-no-1"
                       aria-selected="true">All</a>
                </li>
                <li class="nav-item me-3" role="presentation">
                    <a class="nav-link" id="pills-no-2-tab" data-bs-toggle="pill" data-bs-target="#pills-no-2" href="#"
                       role="tab" aria-controls="pills-no-2" aria-selected="false">Popular</a>
                </li>
                <li class="nav-item me-3" role="presentation">
                    <a class="nav-link" id="pills-no-3-tab" data-bs-toggle="pill" data-bs-target="#pills-no-3" href="#"
                       role="tab" aria-controls="pills-no-3" aria-selected="false">Latest</a>
                </li>
            </ul>
        </div>
        <div class="tab-content mt-3" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-no-1" role="tabpanel"
                 aria-labelledby="pills-no-1">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-4">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/02.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Food</a>
                                    <span class="text-muted">5458 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/04.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Workspace</a>
                                    <span class="text-muted">6542 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/05.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Card</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/04.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Workspace</a>
                                    <span class="text-muted">1546 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/05.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Card</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/05.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Card</a>
                                    <span class="text-muted">365 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/04.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Workspace</a>
                                    <span class="text-muted">500 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/02.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Food</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/05.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Card</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/02.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Food</a>
                                    <span class="text-muted">500 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/02.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Food</a>
                                    <span class="text-muted">5458  Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/05.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Card</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/04.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Workspace</a>
                                    <span class="text-muted">6542 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/02.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Food</a>
                                    <span class="text-muted">365 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/04.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Workspace</a>
                                    <span class="text-muted">1546 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/05.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Card</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-no-2" role="tabpanel" aria-labelledby="pills-no-2">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-4">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/10.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Animals</a>
                                    <span class="text-muted">5458  Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/11.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Entertainment</a>
                                    <span class="text-muted">6542 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/12.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Health</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/13.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Music</a>
                                    <span class="text-muted">1546 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/11.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Entertainment</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/13.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Music</a>
                                    <span class="text-muted">365 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/10.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Animals</a>
                                    <span class="text-muted">500 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/12.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Health</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/10.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Animals</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/14.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Business</a>
                                    <span class="text-muted">500 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/11.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Entertainment</a>
                                    <span class="text-muted">5458  Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/13.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Music</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/10.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Animals</a>
                                    <span class="text-muted">6542 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/12.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Health</a>
                                    <span class="text-muted">365 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/14.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Business</a>
                                    <span class="text-muted">1546 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/12.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Health</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-no-3" role="tabpanel" aria-labelledby="pills-no-3">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-4">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/15.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Sports</a>
                                    <span class="text-muted">5458  Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/16.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">News</a>
                                    <span class="text-muted">6542 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/17.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Cars</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/18.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Movies</a>
                                    <span class="text-muted">1546 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/19.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Fashion</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/14.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Business</a>
                                    <span class="text-muted">365 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/16.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">News</a>
                                    <span class="text-muted">500 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/18.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Movie</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/17.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Cars</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/19.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Fashion</a>
                                    <span class="text-muted">500 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/16.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">News</a>
                                    <span class="text-muted">5458  Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/15.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Sports</a>
                                    <span class="text-muted">3265 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/13.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Music</a>
                                    <span class="text-muted">6542 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/18.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Movie</a>
                                    <span class="text-muted">365 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/19.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">Fashion</a>
                                    <span class="text-muted">1546 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header card-thumbnail">
                                <img src="{% static 'assets/images/blog-list/16.png' %}" alt="post-category"
                                     class="img-fluid" loading="lazy">
                            </div>
                            <div class="card-body card-thumbnail">
                                <div class="d-flex flex-column">
                                    <a href="blog-detail.html" class="h5 mb-0 iq-product-detail mb-2">News</a>
                                    <span class="text-muted">4623 Post</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="javascript:void(0);" class="btn btn-primary card">Load More</a>
        </div>
    </div>
{% endblock content %}