{% extends 'main/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/core/libs.min.css' %}">
    <!-- Flatpickr css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/sheperd/dist/css/sheperd.css' %}">
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="{% static 'assets/css/hope-ui.min1fc6.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pro.min1fc6.css' %}">
    <!-- btn hover css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/button-hover/css/hover-min.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.min1fc6.css' %}">
    <!-- Dark Css -->
    <link rel="stylesheet" href="{% static 'assets/css/dark.min1fc6.css' %}">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="{% static 'assets/css/customizer.min1fc6.css' %}">
    <!-- RTL Css -->
    <link rel="stylesheet" href="{% static 'assets/css/rtl.min1fc6.css' %}">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
          rel="stylesheet">
    <style id="smooth-scrollbar-style">
        [data-scrollbar] {
          display: block;
          position: relative;
        }
        
        .scroll-content {
          display: flow-root;
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
        }
        
        .scrollbar-track {
          position: absolute;
          opacity: 0;
          z-index: 1;
          background: rgba(222, 222, 222, .75);
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          -webkit-transition: opacity 0.5s 0.5s ease-out;
                  transition: opacity 0.5s 0.5s ease-out;
        }
        .scrollbar-track.show,
        .scrollbar-track:hover {
          opacity: 1;
          -webkit-transition-delay: 0s;
                  transition-delay: 0s;
        }
        
        .scrollbar-track-x {
          bottom: 0;
          left: 0;
          width: 100%;
          height: 8px;
        }
        .scrollbar-track-y {
          top: 0;
          right: 0;
          width: 8px;
          height: 100%;
        }
        .scrollbar-thumb {
          position: absolute;
          top: 0;
          left: 0;
          width: 8px;
          height: 8px;
          background: rgba(0, 0, 0, .5);
          border-radius: 4px;
        }
        </style>
{% endblock style %}
{% block body %}
    <!-- Content -->
    <div class="content-inner pb-0 container" id="page_layout">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="check1">
                                <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                    <h4 class="me-2 h4">Namangan davlat pedagogika institutiga Xush kelibsiz !!!</h4>
                                </div>
                            </div>
                            <div class="check2">
                                <button class="me-4 btn btn-primary hvr-icon-drop" id="create-default-role">
                                    Default Role Upload
                                     <svg class="size-28 hvr-icon" viewBox="0 0 24 24" fill="none">
                                        <path d="M10.869 16.6308C10.811 16.5743 10.563 16.3609 10.359 16.1622C9.076 14.9971 6.976 11.9576 6.335 10.3668C6.232 10.1252 6.014 9.51437 6 9.18802C6 8.8753 6.072 8.5772 6.218 8.29274C6.422 7.93814 6.743 7.65368 7.122 7.49781C7.385 7.39747 8.172 7.2416 8.186 7.2416C9.047 7.08573 10.446 7 11.992 7C13.465 7 14.807 7.08573 15.681 7.21335C15.695 7.22796 16.673 7.38383 17.008 7.55431C17.62 7.86702 18 8.47784 18 9.13151V9.18802C17.985 9.61374 17.605 10.509 17.591 10.509C16.949 12.0141 14.952 14.9834 13.625 16.1768C13.625 16.1768 13.284 16.5129 13.071 16.659C12.765 16.887 12.386 17 12.007 17C11.584 17 11.19 16.8724 10.869 16.6308Z" fill="currentColor" />
                                      </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-header d-flex justify-content-between flex-wrap align-items-center ">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Role & Permission</h4>
                        </div>
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <a href="#" class="text-center btn btn-success d-flex gap-2" data-bs-toggle="modal"
                               data-bs-target="#new-role">
                                <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                                Yangi ro'l yaratish
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive m-0">
                            <table id="basic-table" class="table table-striped mb-0" role="grid">
                                <thead>
                                <tr>
                                    <th>Rollar</th>
                                    <th>Foydalanuvchilar</th>
                                    <th>Tahrirlash</th>
                                </tr>
                                </thead>
                                <tbody id="adminTableBody">
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <h6>role name</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="iq-media-group iq-media-group-1">
                                            <a href="#" class="iq-media-1">
                                                <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                                            </a>
                                            <a href="#" class="iq-media-1">
                                                <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                                            </a>
                                            <a href="#" class="iq-media-1">
                                                <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>edit rule</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" id="cardAdminPermissions" style="display: none;">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title-permission">Nomi</h4> <span>Huquqlar ro'yhati</span>
                            </div>
                        </div>
                        <div class="card-body table-fixed p-0 mt-2">
                            <div class="table m-0 p-0">
                                <table id="permission-basic-table" class="table table mb-0" role="grid">
                                    <thead>
                                        <tr>
                                            <th>Huquq</th>
                                            <th>Permission</th>
                                            <th>
                                                Tanlash
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6>Soft UI XD Version</h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="iq-media-group iq-media-group-1">
                                                    <a href="#" class="iq-media-1">
                                                        <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                                                    </a>
                                                    <a href="#" class="iq-media-1">
                                                        <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                                                    </a>
                                                    <a href="#" class="iq-media-1">
                                                        <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="switch2" checked="">
                                                    <label class="pl-2 form-check-label" for="switch2">Tasdiqlash</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                    <div class="card m-2" id="save-permission-to-server">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New Role modal -->
            <div class="modal fade" id="new-role" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropRoleLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="my_form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropRoleLabel">Add Role</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="form-label" for="role-title">Rol nomi</label>
                                    <!-- ID attributiga ega bo'lgan input element -->
                                    <input type="text" id="role-title" class="form-control" placeholder="Role Title">
                                </div>
                                <div class="text-start mt-2">
                                    <button type="button" class="btn btn-primary" onclick="createGroup()">Save</button>
                                    <button type="button" class="btn btn-danger"  id="closeModalBtn" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!--/ Content -->
{% endblock body %}
{% block script %}
    <!-- Library Bundle Script -->
    <script src="{% static 'assets/js/core/libs.min.js' %}"></script>
    <!-- Plugin Scripts -->
    <!-- Tour plugin Start -->
    <script src="{% static 'assets/vendor/sheperd/dist/js/sheperd.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/tour.js' %}" defer></script>
    <!-- Flatpickr Script -->
    <script src="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/flatpickr.js' %}" defer></script>
    <!-- Slider-tab Script -->
    <script src="{% static 'assets/js/plugins/slider-tabs.js' %}"></script>
    <!-- Select2 Script -->
    <script src="{% static 'assets/js/plugins/select2.js' %}" defer></script>
    <!-- Lodash Utility -->
    <script src="{% static 'assets/vendor/lodash/lodash.min.js' %}"></script>
    <!-- Utilities Functions -->
    <script src="{% static 'assets/js/iqonic-script/utility.min.js' %}"></script>
    <!-- Settings Script -->
    <script src="{% static 'assets/js/iqonic-script/setting.min.js' %}"></script>
    <!-- Settings Init Script -->
    <script src="{% static 'assets/js/setting-init.js' %}"></script>
    <!-- External Library Bundle Script -->
    <script src="{% static 'assets/js/core/external.min.js' %}"></script>
    <!-- Widgetchart Script -->
    <script src="{% static 'assets/js/charts/widgetcharts1fc6.js' %}" defer></script>
    <!-- Dashboard Script -->
    <script src="{% static 'assets/js/charts/dashboard1fc6.js' %}" defer></script>
    <script src="{% static 'assets/js/charts/alternate-dashboard1fc6.js' %}" defer></script>
    <!-- Hopeui Script -->
    <script src="{% static 'assets/js/hope-ui1fc6.js' %}" defer></script>
    <script src="{% static 'assets/js/hope-uipro1fc6.js' %}" defer></script>
    <script src="{% static 'assets/js/sidebar1fc6.js' %}" defer></script>
{% endblock script %}