{% extends 'main/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/core/libs.min.css' %}">
    <!-- Flatpickr css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/sheperd/dist/css/sheperd.css' %}">
    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="{% static 'assets/css/hope-ui.min1fc6.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pro.min1fc6.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.min1fc6.css' %}">
    <!-- Dark Css -->
    <link rel="stylesheet" href="{% static 'assets/css/dark.min1fc6.css' %}">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="{% static 'assets/css/customizer.min1fc6.css' %}">
    <!-- RTL Css -->
    <link rel="stylesheet" href="{% static 'assets/css/rtl.min1fc6.css' %}">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
          rel="stylesheet">
    <style id="smooth-scrollbar-style">
        [data-scrollbar] {
          display: block;
          position: relative;
        }
        
        .scroll-content {
          display: flow-root;
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
        }
        
        .scrollbar-track {
          position: absolute;
          opacity: 0;
          z-index: 1;
          background: rgba(222, 222, 222, .75);
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          -webkit-transition: opacity 0.5s 0.5s ease-out;
                  transition: opacity 0.5s 0.5s ease-out;
        }
        .scrollbar-track.show,
        .scrollbar-track:hover {
          opacity: 1;
          -webkit-transition-delay: 0s;
                  transition-delay: 0s;
        }
        
        .scrollbar-track-x {
          bottom: 0;
          left: 0;
          width: 100%;
          height: 8px;
        }
        .scrollbar-track-y {
          top: 0;
          right: 0;
          width: 8px;
          height: 100%;
        }
        .scrollbar-thumb {
          position: absolute;
          top: 0;
          left: 0;
          width: 8px;
          height: 8px;
          background: rgba(0, 0, 0, .5);
          border-radius: 4px;
        }
        </style>
{% endblock style %}
{% block body %}
    <!-- Content -->
    <div class="content-inner pb-0 container" id="page_layout">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="check1">
                                <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                                    <h4 class="me-2 h4">Namangan davlat pedagogika institutiga Xush kelibsiz !!!</h4>
                                </div>
                            </div>
                            <div class="check2">Ong tarafda</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                    <div class="card-header d-flex justify-content-between flex-wrap align-items-center ">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Role & Permission</h4>
                        </div>
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <a href="#" class="text-center btn btn-success d-flex gap-2" data-bs-toggle="modal"
                               data-bs-target="#new-role">
                                <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                                Yangi ro'l yaratish
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive m-0">
                            <table id="basic-table" class="table table-striped mb-0" role="grid">
                                <thead>
                                <tr>
                                    <th>Rollar</th>
                                    <th>Foydalanuvchilar</th>
                                    <th>Tahrirlash</th>
                                </tr>
                                </thead>
                                <tbody id="adminTableBody">
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <h6>role name</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="iq-media-group iq-media-group-1">
                                            <a href="#" class="iq-media-1">
                                                <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                                            </a>
                                            <a href="#" class="iq-media-1">
                                                <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                                            </a>
                                            <a href="#" class="iq-media-1">
                                                <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>edit rule</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" id="cardAdminPermissions" style="display: none;">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title-permission">Nomi</h4> <span>Huquqlar ro'yhati</span>
                            </div>
                        </div>
                        <div class="card-body table-fixed p-0 mt-2">
                            <div class="table m-0 p-0">
                                <table id="permission-basic-table" class="table table mb-0" role="grid">
                                    <thead>
                                        <tr>
                                            <th>Huquq</th>
                                            <th>Permission</th>
                                            <th>
                                                Tanlash
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6>Soft UI XD Version</h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="iq-media-group iq-media-group-1">
                                                    <a href="#" class="iq-media-1">
                                                        <div class="icon iq-icon-box-3 rounded-pill">SP</div>
                                                    </a>
                                                    <a href="#" class="iq-media-1">
                                                        <div class="icon iq-icon-box-3 rounded-pill">PP</div>
                                                    </a>
                                                    <a href="#" class="iq-media-1">
                                                        <div class="icon iq-icon-box-3 rounded-pill">MM</div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check form-switch form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="switch2" checked="">
                                                    <label class="pl-2 form-check-label" for="switch2">Tasdiqlash</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                    <div class="card m-2" id="save-permission-to-server">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New Role modal -->
            <div class="modal fade" id="new-role" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropRoleLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="my_form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropRoleLabel">Add Role</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="form-label" for="role-title">Rol nomi</label>
                                    <!-- ID attributiga ega bo'lgan input element -->
                                    <input type="text" id="role-title" class="form-control" placeholder="Role Title">
                                </div>
                                <div class="text-start mt-2">
                                    <button type="button" class="btn btn-primary" onclick="createGroup()">Save</button>
                                    <button type="button" class="btn btn-danger"  id="closeModalBtn" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!--/ Content -->
{% endblock body %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

    {#Yangi group qoshish va grouplarni royhatini chiqarish#}
        async function fetchData() {
            return fetch('/user/group_list_api')
                .then(response => response.json())
                .then(data => displayData(data))
                .catch(error => console.error('Xatolik:', error));
        }
        async function displayData(groups) {
            const tableBody = document.getElementById('adminTableBody');
            tableBody.innerHTML = '';

            groups.forEach(group => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>
                        <div class="d-flex align-items-center">
                            <h6>${group.name}</h6>
                        </div>
                    </td>
                    <td>
                        <div class="iq-media-group iq-media-group-1">
                            ${group.users.length > 0 ? group.users.map(user => `
                                <a href="#" class="iq-media-1">
                                    <div class="icon iq-icon-box-3 rounded-pill">${user.initials}</div>
                                </a>
                            `).join('') : 'No user'}
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" onclick="showPermissions(${group.id}, '${group.name}')">Tahrirlash</button>
                    </td>
                `;
                tableBody.appendChild(row);
            });
        }
        async function createGroup() {
            const name = document.getElementById('role-title').value;
            const formData = new FormData();
            formData.append('name', name);

            // CSRF tokenini qo'shish
            const csrfToken = getCSRFToken();
            if (csrfToken) {
                formData.append('csrfmiddlewaretoken', csrfToken);
            } else {
                console.error('CSRF token not found');
                return;
            }

            axios.post('create_group_api', formData)
                .then(response => {
                    document.getElementById('role-title').value = '';
                    closeModal()
                    fetchData()
                    
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer);
                            toast.addEventListener('mouseleave', Swal.resumeTimer);
                        }
                    });

                    Toast.fire({
                        icon: 'success',
                        title: response.data.success
                    });
                    console.log(response.data);
                    // Ishlarga davom eting
                })
                .catch(error => {
                    console.error(error);
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer);
                            toast.addEventListener('mouseleave', Swal.resumeTimer);
                        }
                    });
            
                    Toast.fire({
                        icon: 'error',
                        title: 'Xatolik yuz berdi. Group yaratishda muammo ro\'y berdi.' // Error message
                    });
                    // Xatoliklarni ko'rsating
                });
            function closeModal() {
            const modal = document.getElementById('new-role');
            const modalBS = bootstrap.Modal.getInstance(modal);
            modalBS.hide();
            }
        }
        async function showPermissions(groupId, groupName) {
            selectedGroupId = groupId; // selectedGroupId o'zgaruvchisiga groupId qiymatini uzatish
            axios.get(`/user/groups/${groupId}`)
                .then(response => {
                    const permissions = response.data;
                    displayPermissions(permissions, groupName, groupId);
                })
                .catch(error => {
                    console.error('Error fetching group permissions:', error);
                });
        }
        async function displayPermissions(permissions, groupName, groupId) {
            // Jadvalga permissionlarni chiqaring
            const tableBody = document.querySelector('#permission-basic-table tbody');
            tableBody.innerHTML = '';
        
            permissions.forEach(permission => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${permission.name}</td>
                    <td>${permission.permission}</td>
                    <td>
                        <div class="form-check form-switch form-check-inline">
                            <input class="form-check-input" type="checkbox" id="${permission.permission}" ${permission.selected ? 'checked' : ''}>
                            <label class="pl-2 form-check-label" for="${permission.permission}"></label>
                        </div>
                    </td>
                `;
                tableBody.appendChild(row);
            });
        
            // Saqlash tugmasini bosilganda permissionlar royhatini Groupga saqlash
            document.getElementById('save-permission-to-server').innerHTML = `
                <button type="button" class="btn btn-primary btn-sm btn-save-permissions hvr-shutter-out-horizontal" onclick="savePermissionsToServer(${groupId})" id="save-permissions-button">Saqlash</button>
            `;
        
            // Jadvalni ko'rsatish
            document.getElementById('cardAdminPermissions').style.display = 'block';
            // Guruh nomini joylash
            document.querySelector('.card-title-permission').innerText = groupName;
        }

        
        async function savePermissionsToServer(groupId) {
            const checkedPermissions = Array.from(document.querySelectorAll('#permission-basic-table tbody tr'))
                .filter(row => row.querySelector('input[type="checkbox"]').checked)
                .map(row => row.cells[0].innerText);
        
            const uncheckedPermissions = Array.from(document.querySelectorAll('#permission-basic-table tbody tr'))
                .filter(row => !row.querySelector('input[type="checkbox"]').checked)
                .map(row => row.cells[0].innerText);
        
            try {
                const saveButton = document.getElementById('save-permission-to-server');
                saveButton.innerHTML = `
                    <div class="iq-loader-box loader_to">
                      <div class="iq-loader-10 w-20"></div>
                    </div>
                `; // Saqlash tugmasining matnini 'Loading...' ga o'zgartirish
        
                const csrfToken = await getCSRFToken();
                if (!csrfToken) {
                    console.error('CSRF token not found');
                    return;
                }
        
                const response = await axios.post(`/user/groups/${groupId}/permissions`, {
                    permissions: checkedPermissions,
                    unchecked_permissions: uncheckedPermissions
                }, {
                    headers: {
                        'X-CSRFToken': csrfToken
                    }
                });
        
                // Toast tuzilmasi orqali xabar chiqarish
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer);
                        toast.addEventListener('mouseleave', Swal.resumeTimer);
                    }
                });
        
                Toast.fire({
                    icon: 'success',
                    title: response.data.success
                });
        
                console.log('Permissions saved successfully:', response.data);
                // Additional logic after saving permissions if needed
        
                // Saqlash tugmasini qayta ko'rsatish
                saveButton.innerHTML = `
                    <button type="button" class="btn btn-primary btn-sm btn-save-permissions" onclick="savePermissionsToServer(${groupId})" id="save-permissions-button">Yana saqlash</button>
                `;
            } catch (error) {
                console.error('Error saving permissions:', error);
                alert('Xatolik yuz berdi. Huquqlarni saqlashda muammo ro\'y berdi.');
        
                // Saqlash tugmasini qayta ko'rsatish
                saveButton.innerHTML = `
                    <button type="button" class="btn btn-primary btn-sm btn-save-permissions" onclick="savePermissionsToServer(${groupId})" id="save-permissions-button">Yana saqlash</button>
                `;
            }
        }
        
        document.addEventListener('DOMContentLoaded', () => {fetchData();});
                // CSRF tokenini olish
        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith('csrftoken=')) {
                    return cookie.substring('csrftoken='.length, cookie.length);
                }
            }
            return null;
        }
    </script>

    <!-- Library Bundle Script -->
    <script src="{% static 'assets/js/core/libs.min.js' %}"></script>
    <!-- Plugin Scripts -->
    <!-- Tour plugin Start -->
    <script src="{% static 'assets/vendor/sheperd/dist/js/sheperd.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/tour.js' %}" defer></script>
    <!-- Flatpickr Script -->
    <script src="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/flatpickr.js' %}" defer></script>
    <!-- Slider-tab Script -->
    <script src="{% static 'assets/js/plugins/slider-tabs.js' %}"></script>
    <!-- Select2 Script -->
    <script src="{% static 'assets/js/plugins/select2.js' %}" defer></script>
    <!-- Lodash Utility -->
    <script src="{% static 'assets/vendor/lodash/lodash.min.js' %}"></script>
    <!-- Utilities Functions -->
    <script src="{% static 'assets/js/iqonic-script/utility.min.js' %}"></script>
    <!-- Settings Script -->
    <script src="{% static 'assets/js/iqonic-script/setting.min.js' %}"></script>
    <!-- Settings Init Script -->
    <script src="{% static 'assets/js/setting-init.js' %}"></script>
    <!-- External Library Bundle Script -->
    <script src="{% static 'assets/js/core/external.min.js' %}"></script>
    <!-- Widgetchart Script -->
    <script src="{% static 'assets/js/charts/widgetcharts1fc6.js' %}" defer></script>
    <!-- Dashboard Script -->
    <script src="{% static 'assets/js/charts/dashboard1fc6.js' %}" defer></script>
    <script src="{% static 'assets/js/charts/alternate-dashboard1fc6.js' %}" defer></script>
    <!-- Hopeui Script -->
    <script src="{% static 'assets/js/hope-ui1fc6.js' %}" defer></script>
    <script src="{% static 'assets/js/hope-uipro1fc6.js' %}" defer></script>
    <script src="{% static 'assets/js/sidebar1fc6.js' %}" defer></script>
{% endblock script %}