{% extends 'social-app/dashboard/index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid content-inner pb-0" id="page_layout">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between rounded border-bottom-0 pb-4">
                        <div class="header-title">
                            <h4 class="card-title">Today Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/01.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Petey Cruiser</h5>
                                            <p class="mb-0">Today</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/02.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Petey Cruiser</h5>
                                            <p class="mb-0">Today</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between rounded border-bottom-0 pb-4">
                        <div class="header-title">
                            <h4 class="card-title">Upcoming Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/03.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Petey Cruiser</h5>
                                            <p class="mb-0">Tomorrow</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/04.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Paul Molive</h5>
                                            <p class="mb-0">Tomorrow</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between rounded border-bottom-0 pb-4">
                        <div class="header-title">
                            <h4 class="card-title">January Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/05.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Paige Turner</h5>
                                            <p class="mb-0">02-jan-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/06.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Bob Frapples</h5>
                                            <p class="mb-0">15-jan-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/07.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Barb Ackue</h5>
                                            <p class="mb-0">15-jan-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between rounded border-bottom-0 pb-4">
                        <div class="header-title">
                            <h4 class="card-title">February Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/08.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Greta Life</h5>
                                            <p class="mb-0">01-feb-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between rounded border-bottom-0 pb-4">
                        <div class="header-title">
                            <h4 class="card-title">March Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/09.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Ira Membrit</h5>
                                            <p class="mb-0">01-Mar-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/10.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Pete Sariya</h5>
                                            <p class="mb-0">5-Mar-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/11.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Monty Carlo</h5>
                                            <p class="mb-0">20-Mar-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/12.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Ed Itorial</h5>
                                            <p class="mb-0">30-Mar-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between rounded border-bottom-0 pb-4">
                        <div class="header-title">
                            <h4 class="card-title">April Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/13.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Paul Issy</h5>
                                            <p class="mb-0">06-Apr-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/14.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Rick Shaw</h5>
                                            <p class="mb-0">12-Apr-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/15.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Ben Effit</h5>
                                            <p class="mb-0">18-Apr-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between rounded border-bottom-0 pb-4">
                        <div class="header-title">
                            <h4 class="card-title">May Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/16.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Justin Case</h5>
                                            <p class="mb-0">03-May-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/17.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Aaron Ottix</h5>
                                            <p class="mb-0">4-May-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-block d-md-flex align-items-center justify-content-between text-center text-md-start">
                                    <div class="d-block d-md-flex align-items-center my-3 my-md-0 gap-3">
                                        <a href="#">
                                            <img src="{% static 'assets/images/avatar/18.png' %}"
                                                 class="img-fluid avatar-130" alt="profile-img" loading="lazy">
                                        </a>
                                        <div class="friend-info  mt-md-0 mt-3">
                                            <h5 class="mb-0">Pete Sariya</h5>
                                            <p class="mb-0">15-May-2020</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Create Card</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}