{% extends 'social-app/dashboard/index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid content-inner pb-0" id="page_layout">
        <div class="d-grid gap-3 d-grid-template-1fr-19">
            <div class="card rounded  mb-0">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/19.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>Jan</span>
                            <h5>01</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">New Year Celibration</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-0">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/02.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>Jan</span>
                            <h5>24</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">Birthday Celibration</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-0">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/03.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>Jan</span>
                            <h5>26</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">Republic Day</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-0">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/04.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>Feb</span>
                            <h5>04</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">Meetings &amp; Conventions</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-0">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/05.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>March</span>
                            <h5>01</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">Fun Events and Festivals</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-0">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/06.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>March</span>
                            <h5>10</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">Atlanta Retail Show</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-0 mb-lg-3">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/07.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>March</span>
                            <h5>14</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">Holi in the City</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-0 mb-lg-3">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/08.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>Mar</span>
                            <h5>16</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">Insurance Innovators</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded  mb-3">
                <div class="event-images">
                    <a href="#">
                        <img src="{% static 'assets/images/profile-event/09.png' %}" class="img-fluid" alt="Responsive image"
                             loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <div class="date-of-event">
                            <span>Apr</span>
                            <h5>12</h5>
                        </div>
                        <div class="events-detail">
                            <h5><a href="event-detail.html">BIG 5G Event</a></h5>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <div class="event-member">
                                <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/01.png' %}" alt="img1" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/02.png' %}" alt="img2" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/03.png' %}" alt="img3" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/04.png' %}" alt="img4" loading="lazy">
                                    </a>
                                    <a href="#" class="iq-media">
                                        <img class="img-fluid avatar-40 rounded-circle"
                                             src="{% static 'assets/images/avatar/05.png' %}" alt="img5" loading="lazy">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
