{% extends 'social-app/dashboard/index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid content-inner pb-0" id="page_layout">
        <div class="d-grid gap-3 d-grid-template-1fr-19">
            <div class="card mb-0 group-card mb-0">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/01.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/01.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Designer</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>600</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>320</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>1.2k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-0">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/02.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/02.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">R &amp; D</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>300</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>210</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>1.1k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-0">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/03.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/03.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Graphics</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>320</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>100</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>1.0k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-0">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/04.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/04.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Developer</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>800</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>480</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>2.2k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-0">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/05.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/05.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Tester</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>200</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>100</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>32</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-0">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/06.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/06.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Events</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>1000</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>500</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>3.2k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-0 mb-lg-3">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/07.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/07.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Coder</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>300</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>220</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>25k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-0 mb-lg-3">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/08.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/08.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Themes</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>1200</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>800</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>3.2k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
            <div class="card mb-0 group-card mb-3">
                <div class="top-bg-image">
                    <img src="../static/assets/images/profile-event/01.png"
                         class="img-fluid w-100 rounded-0 rounded-top" alt="group-bg" loading="lazy"/>
                </div>
                <div class="card-body text-center">
                    <div class="group-icon">
                        <img src="../static/assets/images/group/09.jpg" alt="profile-img"
                             class="rounded-circle img-fluid avatar-120" loading="lazy">
                    </div>
                    <div class="group-info pt-3 pb-3">
                        <h4><a href="group-detail.html">Review</a></h4>
                        <p>Lorem Ipsum data</p>
                    </div>
                    <div class="group-details d-inline-block pb-3">
                        <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0 gap-3">
                            <li>
                                <p class="mb-0">Post</p>
                                <h6>300</h6>
                            </li>
                            <li>
                                <p class="mb-0">Member</p>
                                <h6>1000</h6>
                            </li>
                            <li>
                                <p class="mb-0">Visit</p>
                                <h6>4.5k</h6>
                            </li>
                        </ul>
                    </div>
                    <div class="group-member mb-3">
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/01.png" alt="img1" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/02.png" alt="img2" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/03.png" alt="img3" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/04.png" alt="img4" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/05.png" alt="img5" loading="lazy"/>
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle"
                                     src="../static/assets/images/avatar/06.png" alt="img6" loading="lazy"/>
                            </a>
                        </div>
                    </div>
                    <a href="group-detail.html" class="btn btn-primary d-block w-100">Join</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}