{% extends 'social-app/dashboard/index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid content-inner pb-0" id="page_layout">
        <div class="row my-5">
            <div class="d-grid d-grid-template-1fr-22">
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/01.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/02.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/03.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/04.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/05.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/06.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/07.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/08.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/09.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/10.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/11.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
                <div class="card profile-badges mb-0">
                    <div class="card-body">
                        <div class="iq-badges text-left">
                            <div class="badges-icon">
                                <img class="avatar-80 rounded" src="{% static 'assets/images/profile-badges/12.png' %}"
                                     alt="" loading="lazy"/>
                            </div>
                            <h5 class="mb-2">Gold User</h5>
                            <p>Richard McClintock, a Latin professor consectetur.</p>
                            <span class="text-uppercase">Unlock Jan 15th, 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}