{% extends 'auth-pro/sign-page.html' %}
{% load static %}
{% block content %}
    <div class="col-10 col-lg-4 offset-lg-7 offset-1">
                        <div class="card">
                            <div class="card-body">
                                <form method="post"> {% csrf_token %}
                                <img src="{% static 'assets/images/avatars/01.png' %}" alt="User-Profile" class="theme-color-default-img img-fluid avatar avatar-50 avatar-rounded" loading="lazy">
                                <h4>Hi ! Austin Robertson</h4>
                                <p>Enter your password to acess the admin.</p>
                                <div class="form-group me-3">
                                    <label class="form-label" for="lock-pass">Password</label>
                                    <input type="text" class="form-control mb-0" id="lock-pass" placeholder="Enter Password" name="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
{% endblock content %}