{% extends 'dashboard/auth-pro/sign-page.html' %}
{% load static %}
{% block content %}
    <div class="col-10 col-lg-4 offset-lg-7 offset-1">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <h3 class="text-center">Sign Up</h3>
                    <p class="text-center">Create your Hope UI account</p>
                </div>
                <form method="post">{% csrf_token %}
                    <div class="row d-flex justify-content-between">
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-label" for="first_name">First Name</label>
                            <input type="text" class="form-control mb-0" id="first_name" name="first_name" placeholder="Enter First Name">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-label" for="last_name">Last Name</label>
                            <input type="text" class="form-control mb-0" id="last_name" name="last_name" placeholder="Enter Last Name">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-label" for="Emailid">Email</label>
                            <input type="email" class="form-control mb-0" id="Emailid" name="email" placeholder="Enter Email">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-label" for="username">Username.</label>
                            <input type="text" class="form-control mb-0"  id="username" name="username" placeholder="Enter Your Username">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-label" for="firstPassword">Password</label>
                            <input type="password" class="form-control mb-0" id="firstPassword" name="password1" placeholder="Enter Password">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="form-label" for="ConfirmPAssword">Confirm Password</label>
                            <input type="password" class="form-control mb-0" id="ConfirmPAssword" name="password2" placeholder="Enter Confirm Password">
                        </div>
                    </div>
                    <div class="text-center pb-3">
                        <input type="checkbox" class="form-check-input" id="aggrement">
                        <label class="form-check-label" for="aggrement">I agree with the terms of use</label>
                    </div>
                    <div class="text-center pb-3">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>

                <p class="text-center">Or sign in with other accounts?</p>
                <div class="d-flex justify-content-center align-items-center gap-4 flex-wrap">
                    <a href="#"><img src="{% static 'assets/images/brands/fb.svg' %}" alt="fb" loading="lazy"></a>
                    <a href="#"><img src="{% static 'assets/images/brands/gm.svg' %}" alt="gm" loading="lazy"></a>
                    <a href="#"><img src="{% static 'assets/images/brands/im.svg' %}" alt="im" loading="lazy"></a>
                    <a href="#"><img src="{% static 'assets/images/brands/li.svg' %}" alt="li" loading="lazy"></a>
                </div>
                <p class="text-center">Already have an Account<a href="{% url 'users:sign_in' %}" class="ms-2">Sign
                    in</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
