{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block content %}
<div class="container-fluid content-inner pb-0" id="page_layout">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <form method="POST" >
                    {% csrf_token %}
                    <div class="row p-2">
                        <div class="form-group col-lg-4">
                            <label for="department" class="form-label">Fakultet va Bo'limlar:</label>
                            <select name="department" class="selectpicker form-control" data-style="py-0">
                                <option value="">No selected</option>
                                {% for dep in departments %}
                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="curriculum" class="form-label">Yo'nalish :</label>
                            <select name="curriculum" class="selectpicker form-control" data-style="py-0">
                                <option value="">No selected</option>
                                {% for yonalish in curriculum_data %}
                                <option value="{{ yonalish.id }}">{{ yonalish.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="group_list" class="form-label">Akademik guruh:</label>
                            <select name="group_list" class="selectpicker form-control" data-style="py-0">
                                <option value="">No selected</option>
                                {% for group in group_lists %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="form-group col-lg-5">
                            <label for="gender" class="form-label">Jinsi:</label>
                            <select name="gender" class="selectpicker form-control" data-style="py-0">
                                <option value="">No selected</option>
                                <option value="12">Ayol</option>
                                <option value="11">Erkak</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-5">
                            <label for="search_full_name" class="form-label">Familiyasi yoki ismi:</label>
                            <input type="text" class="form-control" placeholder="Familiya yoki ism" name="search_full_name">
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="form-label">Qidirish:</label><br>
                            <button class="btn btn-success" type="submit">
                                <span class="btn-inner">
                                    <svg fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24">
                                        <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                                Qidirish
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">User List</h4>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <div class="table-responsive">
                            <table id="user-list-table" class="table table-striped" role="grid"
                                data-toggle="data-table">
                                <thead>
                                    <tr class="light">
                                        <th>Profile</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>Status</th>
                                        <th>Company</th>
                                        <th>Join Date</th>
                                        <th style="min-width: 100px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td class="text-center">
                                            <img class="bg-soft-primary rounded img-fluid avatar-40 me-3"
                                                src="{% if student.image %} {{ student.image }} {% endif %}"
                                                alt="{{ student.short_name }}" loading="lazy" />
                                        </td>
                                        <td>{{ student.first_name }} {{ student.second_name }}</td>
                                        <td>{{ student.student_id_number }}</td>
                                        <td>{{ student.group.name }} - {{ student.group.educationLang.name }}</td>
                                        <td>{{ student.country.name }}</td>
                                        <td><span class="badge bg-primary">{{ student.studentStatus.name }}</span></td>
                                        <td>{{ student.department.name | slice:'20' }}</td>
                                        <td>{{ student.birth_date }}</td>
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                <a class="btn btn-sm btn-icon btn-success" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Add" href="#">
                                                    <span class="btn-inner"> <!-- Add icon SVG here --> </span>
                                                </a>
                                                <a class="btn btn-sm btn-icon btn-warning" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Edit" data-original-title="Edit"
                                                    href="#">
                                                    <span class="btn-inner"> <!-- Edit icon SVG here --> </span>
                                                </a>
                                                <a class="btn btn-sm btn-icon btn-danger" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Delete" href="#">
                                                    <span class="btn-inner"> <!-- Delete icon SVG here --> </span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
